<footer>
  <div class="row text-center b-b">
    <div class="col footer-logo d-none d-sm-block d-md-block">
      <a [routerLink]="['/']">
        <fishry-image *ngIf="themeSettings.logo_img" [src]="themeSettings.logo_img" [route]="'themes'" [size]="''">
        </fishry-image>
      </a>
    </div>
    <div class="col-8 d-none d-sm-block d-md-block">
      <!-- <app-nav *ngIf="handler" [handler]="handler['footer']"></app-nav> -->
      <fishry-nav [menuItems]="footerMenu"></fishry-nav>
    </div>
    <div class="col">
      <ul class="list-inline social-icons">
        <li class="list-inline-item" *ngIf="themeSettings.facebook_link">
          <a (click)="openLink(link)">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item" *ngIf="themeSettings.twitter_link">
          <a (click)="openLink(link)">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item" *ngIf="themeSettings.instagram_link">
          <a (click)="openLink(link)">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item" *ngIf="themeSettings.youtube_link">
          <a (click)="openLink(link)">
            <i class="fa fa-youtube-square fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item" *ngIf="themeSettings.pinterest_link">
          <a (click)="openLink(link)">
            <i class="fa fa-pinterest-square fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item" *ngIf="themeSettings.google_link">
          <a (click)="openLink(link)">
            <i class="fa fa-google-plus-square fa-2x"></i>
          </a>
        </li>
        <!-- <app-social-icons [link]="(globalService.themeSettings | async)?.facebook_link" [icon]="'fa fa-facebook-square fa-2x'">
        </app-social-icons>
        <app-social-icons [link]="(globalService.themeSettings | async)?.twitter_link" [icon]="'fa fa-twitter-square fa-2x'">
        </app-social-icons>
        <app-social-icons [link]="(globalService.themeSettings | async)?.instagram_link" [icon]="'fa fa-instagram fa-2x'">
        </app-social-icons>
        <app-social-icons [link]="(globalService.themeSettings | async)?.youtube_link" [icon]="'fa fa-youtube-square fa-2x'">
        </app-social-icons>
        <app-social-icons [link]="(globalService.themeSettings | async)?.pinterest_link" [icon]="'fa fa-pinterest-square fa-2x'">
        </app-social-icons>
        <app-social-icons [link]="(globalService.themeSettings | async)?.google_link" [icon]="'fa fa-google-plus-square fa-2x'">
        </app-social-icons> -->
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row copy-rights">
    <div class="col-12 text-center">
      <p>© 2018 Crimson All Rights Reserved | Terms and conditions</p>
    </div>
    <!-- <div class="col p-0">
        <app-fishry-e-commerce></app-fishry-e-commerce>
      </div> -->
  </div>
</footer>