<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <p>Wattup</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <ng-container [ngTemplateOutlet]="bigScreen"></ng-container> -->
    <div class="container-fluid" *ngIf="store.select$('isLoaded') | async">
      <div class="body-background d-none d-md-block"></div>
      <fishry-header (toggleSideNav)="toggleSideNav($event)"></fishry-header>

      <router-outlet></router-outlet>

      <fishry-footer></fishry-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>